@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom line-clamp utilities */
.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.tableHeaderText {
  /* @apply text-sm font-extrabold text-[#6b6f80]; */
}

/*  Hide browser icon toggle visibility */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-textfield-decoration-container,
input[type="password"]::-webkit-clear-button,
input[type="password"]::-webkit-inner-spin-button,
input[type="password"]::-webkit-outer-spin-button,
input[type="password"]::-webkit-reveal {
  display: none;
}
